# GOOGLE
Language: Cpp, Java
BasedOnStyle: Google

# Basic style
ColumnLimit: 100
IndentWidth: 2

# My style
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: true
AllowShortCaseLabelsOnASingleLine: true

# Pointer style
DerivePointerAlignment: false
PointerAlignment: Left


Language: Java
BasedOnStyle: Google
ColumnLimit: 100
AllowShortCaseLabelsOnASingleLine: true
